/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  width: 100%;
}
.main_container .login_container {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container .login_container .login_form {
  color: rgba(255, 255, 255, 0.55);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16.5pt;
  font-weight: normal;
  line-height: 1.75;
  width: 30%;
  height: 500px;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  border: solid 1px rgba(255, 255, 255, 0.15);
}
.main_container .login_container .login_form .firstname {
  width: 350px;
  height: 50px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  color: white !important;
}
.main_container .login_container .login_form .password {
  width: 350px;
  height: 50px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 0.25em;
  border: none;
  border: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
}
.main_container .login_container .login_form .login_btn {
  width: 40%;
  transition: border-color 0.2s ease;
  background-color: transparent;
  border: solid 1px !important;
  border-color: rgba(255, 255, 255, 0.15) !important;
  border-radius: 3em;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  height: calc(6.75em);
  letter-spacing: 0.25em;
  line-height: 4.75em;
  outline: 0;
  padding: 0 3.75em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
}
.main_container .login_container .login_form .sign_up_btn:hover {
  transition: border-color 0.2s ease;
  border-color: #e0dcdc !important;
  background-color: #5b5bd6;
}
.top_nav_container {
  width: 100%;
  height: 50px;
  display: flex;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.top_nav_container .social_containers {
  width: 50%;
  height: 50px;
}
.top_nav_container .social_containers .social {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.top_nav_container .social_containers .social i {
  font-size: 20pt;
  margin-right: 10%;
}
@media (max-width: 500px) {
  .social_containers {
    padding-left: 25px;
  }
  .top_nav_container .social_containers .social i {
    margin-right: 15px;
  }
}
.top_nav_container .social_containers .social img {
  width: 75px;
  height: 75px;
}
.top_nav_container .nav_container {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top_nav_container .nav_container nav a {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  text-decoration: none;
  color: grey;
  margin-right: 3.75rem;
}
@media (max-width: 500px) {
  .top_nav_container .nav_container nav a {
    margin-right: 1rem;
  }
}
.nav {
  padding-top: 3.1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid lightgrey;
  display: flex;
  background-color: white;
  align-items: center;
  width: 100%;
}
.nav img {
  width: 190px;
  height: 50px;
  object-fit: cover;
}
#ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 50px;
  text-decoration: none;
  list-style: none;
}
#ul a {
  text-decoration: none;
  color: black;
}
.icon {
  display: none;
}
@media (max-width: 500px) {
  .menu-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .menu-dropdown .icon {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 180px;
    padding-top: 8px;
    position: absolute;
    cursor: pointer;
  }
  .menu-dropdown #ul {
    display: none;
  }
  .menu-dropdown #ul.active {
    display: block;
  }
  .menu-dropdown #ul.active li {
    padding-left: 180px;
    padding-top: 10px;
    color: white;
    margin-bottom: 4px;
  }
  .menu-dropdown #ul.active .child {
    padding-top: 55px;
  }
  .menu-dropdown #ul.active a {
    cursor: pointer;
  }
}
@media (min-width: 800px) {
  #ul {
    width: 600px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1000px) {
  #ul {
    width: 800px;
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 1351px) {
  #ul {
    width: 1100px;
    display: flex;
    justify-content: space-around;
  }
}
#img {
  background-image: url("../img/campaign-creators-1166997-unsplash-1.jpg");
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -10;
  filter: blur(1.5px);
}
.img {
  background-image: url("../img/contact-img.jpg");
  width: 100%;
  height: 430px;
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: -10;
  filter: blur(2px);
}
.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
  width: 100%;
  height: 430px;
  display: flex;
}
.header {
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  height: 482px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .head-about {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.header h2 {
  font-size: 1.4rem;
  font-family: "freightSans_ProLight", Arial, sans-serif;
  color: #ffffff;
  display: block;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}
.header p {
  margin: 0 auto;
  width: 100%;
  font-size: 3rem;
  font-family: "freightSans_ProLight", Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
}
.gray-block {
  width: 100%;
  height: 282px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
}
.gray-block .block {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
}
.white-space {
  width: 100%;
  height: 150px;
}
.team h2 {
  color: #7D7C7C;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.team-p {
  width: 80%;
  margin: 0 auto;
}
.team-p p {
  color: #00447E;
  font-size: 3rem;
  display: flex;
  text-align: center;
}
.links {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.links .line {
  border-right: solid black 1px;
}
.links .tabs {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.tabs-items {
  display: flex;
  background-color: #F6F6F6;
  justify-content: flex-end;
}
.tabs-items .pic-1 img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.tabs-items .pic-2 img {
  display: flex;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.tabs-items .jamie-about-dropdown {
  display: none;
}
.tabs-items .jamie-skills-dropdown {
  display: none;
}
.tabs-items .shaun-about-dropdown {
  display: none;
}
.tabs-items .shaun-skills-dropdown {
  display: none;
}
.tabs-items .change {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.tabs-items-2 {
  display: flex;
  background-color: #F6F6F6;
  justify-content: flex-start;
}
.tabs-items-2 .pic-2 img {
  display: flex;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.tabs-items-2 .shaun-about-dropdown {
  display: none;
}
.tabs-items-2 .shaun-skills-dropdown {
  display: none;
}
.tabs-items-2 .change {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 50%;
}
.tabs-items-2 {
  display: flex;
}
.why-us {
  width: 100%;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-us h2 {
  display: flex;
  justify-content: center;
  color: #7D7C7C;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.why-us .why-us-p {
  margin: auto 0;
  width: 50%;
  color: #3B3B3B;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}
.why-us li {
  font-size: 1.2rem;
  padding-bottom: 30px;
  color: #3B3B3B;
}
.why-us .list-container {
  width: 100%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
}
.why-us .list {
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #3A3E41;
  height: 28rem;
  width: 100%;
  display: flex;
}
.footer p {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: white;
  padding-left: 1rem;
}
.footer .text-button {
  padding-left: 1rem;
}
.footer .register-form input {
  width: 15rem;
  height: 3.4rem;
}
.footer button {
  width: 9rem;
  height: 3.4rem;
  background-color: dodgerblue;
  color: white;
  margin: 0;
  padding: 0;
}
.mid-footer-content {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: 0px;
}
.mid-footer-content h3 {
  color: lightgray;
}
.mid-footer-content p {
  color: white;
}
.mid-footer-content img {
  padding-top: 3rem;
  border-radius: 2rem;
}
input {
  margin: 0;
}
.text-button {
  margin-top: 1rem;
  display: flex;
}
.footer-nav {
  display: flex;
  align-items: flex-start;
  padding-top: 4rem;
  padding-left: 10rem;
}
.footer-nav .menu {
  color: #F6F6F6;
  padding-left: 0.5rem;
}
.footer-nav ul li {
  margin-top: 1rem;
  color: white;
}
.footer-nav a {
  list-style: none;
  text-decoration: none;
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .mid-footer-content {
    display: none;
  }
  .footer .footer-nav {
    display: none;
  }
  .footer p {
    padding-left: 0;
  }
  .footer .text-button {
    padding-left: 0;
  }
}
html,
body {
  overflow-x: hidden;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
}
.contact-container h3 {
  margin-top: 40px;
}
.contact-container .contact-text-form {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}
.contact-container .contact-text {
  width: 40%;
  text-align: center;
}
.contact-container .contact-form {
  width: 40%;
}
.contact-container input {
  width: 20rem;
  height: 25px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 25px;
}
.contact-container .message {
  height: 150px;
}
@media (max-width: 500px) {
  .contact-text {
    display: none;
  }
  .contact-container {
    width: 500px;
    display: flex;
  }
  .contact-container .contact-text-form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contact-container .contact-text-form .contact-form {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
